/* general styles */
body{
    background: #F3F5FC;
}

/* header styles */

.header{
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
    padding: 20px;
}

.img-container{
    display: inline-block;
    width: 30%;

}

.title-container {
    display: inline-block;
    width: 60%;
}


.title{
    font-size: 2em;
    text-align: center;
    color: #0A3871;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

/* content style */
main{
    width: 100%;
}

.encrypt-area{
    display: inline-block;
    width: 65%;
    text-align: center;
    padding: 2%;
}

.output-area{
    width: 25%;
    display:inline-block;
    text-align: center;
    background:#ffffff;
    position: absolute;
    top: 0;
    height: 80%;
    margin: 5% auto;
    padding: 2% 0;
    box-sizing: border-box;
    border-radius: 35px;
}

.input{
    width: 75%;
    resize: none;
    background: transparent;
    border: transparent;
    outline: none;
    font-size: 2em;
    color: #0A3871;
}

.output{
    width: 80%;
    resize: none;
    height: 80%;
    outline: none;
    border: none;
    font-size: 2em;
    color: #0A3871;
}

.warning{
    width: 69%;
    font-size: 17px;
}

.warning img, .warning p{
    display: inline-block;
}

.warning img{
    margin: 0 0 0 15%;
}

.options{
    width: 70%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.options input{
    width: 250px;
    height: 50px;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #0A3871;
}

.decrypt-button{
    color: #0A3871;
}

.encrypt-button{
    background: #0A3871;
    color:#F3F5FC;

}